-e containers/scrapper/ --config-settings editable_mode=strict
-e containers/api_extractor/ --config-settings editable_mode=strict
-e containers/data_uploader/ --config-settings editable_mode=strict
-e containers/partner_uploader/ --config-settings editable_mode=strict
-e containers/partner_downloader/ --config-settings editable_mode=strict
-e internal_lib/ --config-settings editable_mode=strict
-r local_scripts/containers/requirements.txt
-r tests/requirements.txt
-r pulumi/requirements.txt
pre-commit==3.4.0
pytest==8.0.2
