[bumpversion]
current_version = 0.2.1
commit = False
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)
serialize = 
	{major}.{minor}.{patch}

[bumpversion:file:setup.py]

[bumpversion:file:../../pulumi/Pulumi.dev.yaml]
search = build_version: {current_version} # partner_downloader version
replace = build_version: {new_version} # partner_downloader version
